# Ignore the build folder
/build

# Ignore the node_modules folder
/node_modules

# ignore all dotted files
/**/.*  
/**/.*/

# allow these dotted files only
!/.gitignore 
!/.prettierignore
!/.prettierrc